teht1/build/
teht1/*.user
teht2/build/
teht2/*.user
teht3/build/
teht3/*.user
teht4/build/
teht4/*.user
teht5/build/
teht5/*.user
teht6/build/
teht6/*.user
teht7_01/build/
teht7_01/*.user
teht7_02/build/
teht7_02/*.user
teht8/build/
teht8/*.user
pankkisovellus/build/
pankkisovellus/*.user
perintaharjoitus/build/
perintaharjoitus/*.user